#fourtythree-tick-4,
#fourtythree-earth {
  opacity: 0;
}

#fourtythree-earth {
  transition: all 2s ease-in-out;
}

.step2 #fourtythree-tick-4 {
  opacity: 1;
}

.step3 #fourtythree-earth {
  opacity: 1;
}
