#thirtynine-tick-one,
#thirtynine-tick-two,
#thirtynine-tick-three {
  opacity: 0;
  transition: opacity 0s;
}

#thirtynine-tick-two {
  transition-delay: 0.5s;
}

#thirtynine-tick-three {
  transition-delay: 1s;
}

.step2 #thirtynine-tick-one,
.step2 #thirtynine-tick-two,
.step2 #thirtynine-tick-three {
  opacity: 1;
}
