<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      margin: 0;
    }

    body>svg {
      position: fixed;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }
    {{#if CSS}}
     {{{ CSS }}}
    {{/if}}
  </style>
</head>

<body>
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/service-worker.js", {
        scope: '/'
      });
    }
  </script>
  <script src="/scripts/page.js"></script>
  {{{SVG}}}
  {{#if JS}}
  <script>
    {{{ JS }}}
  </script>
  {{/if}}
  {{#if hasTweenMax}}
  <script src="/scripts/TweenMax.min.js"></script>
  {{/if}}
</body>

</html>