#three-iterate-1,
#three-iterate-2,
#three-iterate-3,
#three-iterate-4,
#three-speech_designer,
#three-speech_customer,
#three-design1,
#three-design2,
#three-design3 {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#three-dman {
  transition: all 0.3s ease-in-out;
  transform: translate(0, 550px);
}

.step2 #three-speech_customer,
.step2 #three-iterate-1 {
  opacity: 1;
}

.step2 #three-speech_designer,
.step2 #three-design1 {
  transition-delay: 3s;
  opacity: 1;
}

.step2 #three-iterate-2 {
  transition-delay: 6s;
  opacity: 1;
}

.step2 #three-design2 {
  transition-delay: 9s;
  opacity: 1;
}

.step2 #three-iterate-3 {
  transition-delay: 12s;
  opacity: 1;
}

.step2 #three-design3 {
  transition-delay: 15s;
  opacity: 1;
}

.step2 #three-iterate-4 {
  transition-delay: 18s;
  opacity: 1;
}

.step2 #three-dman {
  transition-delay: 21s;
  transform: initial;
}
